.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.gallery-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 0.25rem solid #000000; */
    margin: 3rem 0;
}

.gallery-section-title h1 {
    font-size: 4.4rem;
}

.gallery-section-title:after {
    content: "";
    position: absolute;
    height: 4rem;
    width: 12.8rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid black;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
