.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsPost {
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

img {
    margin: 3rem 0;
    padding: 0;
    width: 100%;
}

.modal-vision-mission {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.modal-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    font: TwCenMT;
}

.modal-button button {
    height: 3rem;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 0.25rem solid #000000;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text img {
    width: 1rem;
    margin: 0;
}

.p {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.citation-start {
    position: relative;
    width: 100%;
    justify-content: start;
    align-items: flex-start;
}

.citation-start img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.citation-end img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.citation-end {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(180deg);
    width: 100%;
}

