.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contentAsboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
}