header {
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
}

#headerContainer {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#navLogo {
    width: 5.5rem;
}

header > div > nav > a {
    margin: .7rem 0rem;
}

#navItems {
    display: flex;
    background-color: #202020;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

#navItems ul {
    position: fixed;
    padding-top: 5.7rem;
    list-style: none;
    width: 90vw;
    left: 3.33%;
    top: 10%;
}

#navItems ul li {
    padding: 1.6rem 0;
    margin: 0rem 1.6rem;
    border-bottom: #fff solid 1px;
}

#navItems ul li a {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
}

#navContact {
    width: 15rem;
    height: 3.2rem;
    font-size: 2rem;
    margin: auto;
    border-radius: 0;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 25%;
    left: 25%;
    top: 90%;
}

#navContact:focus {
    outline: none;
}

#navContact a {
    color: #202020;
    text-decoration: none;
}

.menuButton {
    margin: 8rem 1.6rem;
    cursor: pointer;
    right: 1%;
    position: fixed;
}

.menuButton:focus {
    outline: none;
}


.menuButton span {
    transition: all 0.5s;
    display: block;
    position: relative;
    height: 0.4rem;
    width: 3rem;
    margin: 0.4rem;
    background-color: #202020;
}

.menuClose {
    margin: 8rem 1.6rem;
    cursor: pointer;
    right: 1%;
    position: fixed;
}

.menuClose span {
    transition: all 0.5s;
    display: block;
    position: relative;
    height: 0.4rem;
    width: 3rem;
    margin: 0.4rem;
    background-color: #202020;
}

.menuClose span:nth-child(1) {
    transform: rotate(45deg);
    top: 0.8rem;
}

.menuClose span:nth-child(2) {
    display: none;
}

.menuClose span:nth-child(3) {
    transform: rotate(-45deg);
}

#navItems1 {
    display: none;
}

@media screen and (min-width: 769px) {

    #navContact {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 11rem;
    }

    #headerContainer {
        align-items: flex-end;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }

    .menuButton {
        display: none;
    }

    #navItems {
        width: auto;
        height: auto;
        background-color: transparent;
        margin-right: 10rem;
    }

    #navItems ul {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    #navItems ul li:nth-child(6) {
        display: block;
    }

    #navItems ul li a {
        color: #202020;
    }

    #navItems1 {
        display: block;
        justify-content: center;
        flex-direction: row;
    }
    
    #navItems1 ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-right: 2vw;
    }
    
    #navItems1 ul li {
        padding: 1.6rem 0;
        margin: 0rem 1.6rem;
    }
    
    #navItems1 ul li a {
        line-height: 2.6rem;
        color: #000;
        text-decoration: none;
        font-size: 2.2rem;
    }

    #navItems1 ul li:nth-child(1) { /* Temporário até próximas seções estarem prontas*/
        border-bottom: 0.4rem solid #000;
    }

    #navLogo {
        width: 10rem;
    }

    header > nav > a {
        margin: .7rem 2rem;
    }

}